/* albums page css */


body {
    background-image: url(images/pond.jpeg);
    /* background-size: cover; */
    background-repeat: no-repeat;
    /* background-position: center; */
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    color: white;
    text-align: center;
}

section {
    padding: 20px;
    border-radius: 12px;
}

h2 {
    font-size: 3rem;
    margin-top: 0px;
}

@media only screen and (min-width: 770px) {

    .flex-container {
        display: flex;
        flex-wrap: wrap;
    }



    .tic {
        flex: 1;
    }

    .wowy {
        flex: 1;
    }
}