/* main {
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
} */

section {
    padding: 2rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* @media screen and (min-width: 800px) {
    section .row {
        max-width: 800px;
        margin: auto;
        display: flex;
        justify-content: space-between;

    }

    section .row .col {
        padding: 1rem;
        flex-grow: 1;
        
    }
} */

.EA {
    color: rgb(207, 207, 152);
}

.EAbg {
    background-color: black;
    color: rgb(207, 207, 152);
    background-image: url(images/king.PNG);
    background-position: bottom;
    text-align: center;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    filter: contrast(150%);
}

.section-alt {
    background-image: url(images/pond.jpeg);
    background-position: top;
    opacity: 80%;
    /* filter: contrast(50%); */
}

.contactMe {
    background-color: beige;
}

header {
    color: black;
    background-color: beige;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.homeNav {
    color: black;
    background-color: beige;
    padding: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
}

li {
    padding: 2px;
    display: inline;
    margin: 5px;
}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(images/osfm.jpeg);
    font-size: 1rem;
    background-position: bottom;
    background-size: cover;
}

footer h2 {
    text-transform: uppercase;
    margin: 1rem 0 .3rem 0;
    font-size: 1.2rem;
}

.merch {
    color: black;
    background-image: url(images/osfm.jpeg);
    background-position: top;
    background-size: cover;
    font-weight: bold;
    /* padding: 120px; */
    font-size: large;
    /* filter: contrast(75%); */
    opacity: .75;
}

.aboutMe {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px;
    border-radius: 12px;
}

.albums {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px;
    border-radius: 12px;
}
 
/* Show More/Less CSS */

.info {
    text-align: center;
    font-weight: bold;
    color: white;
    padding: 20px;
    border-radius: 12px;
}

.expandMoreContent {
    height: 10px;
    overflow: hidden;
    transition: height 0.5s ease-in-out;
    position: relative;
}

.expandMoreContent.expand-active {
    height: auto;
    transition: height 0.5s ease-in-out;
}

.expandMoreHolder {
    padding: 15px 0;
    text-align: center;
}

.btn-expand-more {
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.2);
    display: inline-block;
    color: white;
}

/* Swag Shop CSS */

.SShead {
    text-align: center;
}

.SSbody {
    text-align: center;
}

.SSlink {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

.input-group input,
.input-group textarea,
.input-group select,
.input-group .subject {
    padding: 15px;
    border: solid 1px black;
    border-radius: 1px;
    width: 100%;
}

.subject {
    padding: 15px;
    border: solid 1px black;
    border-radius: 1px;
    width: 50%;
    display: block;
}

label {
    font-weight: bold;
}

input[type="reset"] {
    background: transparent;
    border: 0;
    cursor: pointer;
    text-decoration: underline;
}

/* input[type=submit] {
    border: solid 1px black;
    color: beige;
    background-color: black;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    text-decoration: underline;
} */

.submit {
    border: solid 1px black;
    color: beige;
    background-color: black;
    border-radius: 2px;
    padding: 5px;
    cursor: pointer;
    /* text-decoration: underline; */
}